<!DOCTYPE html>
<html lang="en">

<head>
  <title>TiketKonser.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMgzaDh8DjtzHlnBCPwC-jbtE5ZWfmVFR9AdsUl_GHqd-YPUcW">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

    .row.content {
      height: 565px
    }

    /* Set gray background color and 100% height */

    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */

    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {
        height: auto;
      }
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">TiketKonser.com</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="./adminInput">Admin Input</a>
          </li>
          <li>
            <a href="./jadwalkonserAdmin">Jadwal Konser</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="./loginAdmin">
              <span class="glyphicon glyphicon-log-in"></span> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">

      </div>
      <div class="col-sm-8 text-left">
        <h1>Admin Input</h1>
        <hr>
        <div class="container">
          <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-0">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Input jadwal konser dan harga tiket :</h3>
                </div>
                <div class="panel-body">
                  <form role="form" action="/adminInput" method="POST">
                    <h5>
                      <b>Jadwal konser :</b>
                    </h5>
                    <div class="form-group">
                      <input name="tanggal" id="tanggal" class="form-control input-sm" placeholder="Tanggal">
                    </div>
                    <div class="form-group">
                      <input name="nama" id="nama" class="form-control input-sm" placeholder="Nama Band / Penyanyi">
                    </div>
                    <div class="form-group">
                      <input name="tempat" id="tempat" class="form-control input-sm" placeholder="Tempat">
                    </div>
                    <h5>
                      <b>Harga tiket :</b>
                    </h5>
                    <!--Platinum-->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="hargaPlatinum" id="hargaPlatinum" class="form-control input-sm" placeholder="Harga Platinum">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="stokPlatinum" id="stokPlatinum" class="form-control input-sm" placeholder="Jumlah Tiket">
                      </div>
                    </div>
                    <!--Gold-->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="hargaGold" id="hargaGold" class="form-control input-sm" placeholder="Harga Gold">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="stokGold" id="stokGold" class="form-control input-sm" placeholder="Jumlah Tiket">
                      </div>
                    </div>
                    <!--Silver-->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="hargaSilver" id="hargaSilver" class="form-control input-sm" placeholder="Harga Silver">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="stokSilver" id="stokSilver" class="form-control input-sm" placeholder="Jumlah Tiket">
                      </div>
                    </div>
                    <!--Bronze-->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="hargaBronze" id="hargaBronze" class="form-control input-sm" placeholder="Harga Platinum">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="stokBronze" id="stokBronze" class="form-control input-sm" placeholder="Jumlah Tiket">
                      </div>
                    </div>

                    <input type="submit" value="Input" class="btn btn-info btn-block">

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 sidenav">
      </div>
    </div>
  </div>
  </div>

  <footer class="container-fluid text-center">
    <p>Powered by TiketKonser.com</p>
  </footer>

</body>

</html>